:root {
    --titulo: 'PT sans', sans-serif;
    --parrafo: 'Poppins', serif;

    --primario: #784d3c;
    --blanco: #ffffff;
    --gris: #b0b0b0;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--parrafo);
    font-size: 4rem;
    line-height: 2;
}

/*Globales*/

.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--titulo);
    line-height: 1.2;
}

h1 {
    color: var(--blanco);
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.cetrar-texto{
    text-align: center;
}

.header {
    background-image: url(../img/banner.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}

h1 span{
    color: #c3c3c3c3;
    font-weight: bold;
}

.navegacion__enlace {
    color: var(--blanco);
    font-family: var(--parrafo);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3.6rem;
    }

    h4 {
        font-size: 3rem;
    }

    p {
        font-size: 3rem;
    }

    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .navegacion {
        flex-direction: row;
        gap: 2rem;
    }

    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }
}

.cursos {
    list-style: none;
}

.entrada {
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border-bottom: none;
    margin-bottom: none;
}

.boton {
    display: block;
    color: var(--blanco);
    font-family: var(--titulo);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.widget-curso {
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label,
.widget-curso__info {
    font-size: 2rem;
}
.widget-curso__label {
    font-family: var(--titulo);
    font-weight: bold;
}
.widget-curso__info {
    font-weight: normal;
}

.footer {
    background-color: var(--negro);
    padding: 2rem 0;
}

.logo--footer h1 {
    font-size: 3rem;
}