:root {
    --titulo: 'PT sans', sans-serif;
    --parrafo: 'Roboto', sans-serif;;

    --primario: #784d3c;
    --blanco: #ffffff;
    --gris: #b0b0b0;
    --negro: #000000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /*1rem = 10px*/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--parrafo);
    font-size: 3rem;
    line-height: 2;
}

/*Globales*/

.contenedor {
    max-width: 120rem;
    width: min(90%, 120rem);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    font-family: var(--titulo);
    line-height: 1.2;
}

h1 {
    color: var(--blanco);
    font-size: 2.8rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

.webp .header {
    background-image: url(../img/banner.webp);
}
.no-webp .header {
    background-image: url(../img/banner.jpg);
}
.header {
    height: 60rem;
    background-size: cover;
    background-repeat: no repeat;
    background-position: center center;
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 15rem;
}

h1 span{
    color: #c3c3c3c3;
    font-weight: bold;
}

.navegacion__enlace {
    color: var(--blanco);
    font-family: var(--parrafo);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.barra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-top: 3rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    h1 {
        font-size: 4.4rem;
    }

    h2 {
        font-size: 3.8rem;
    }

    h3 {
        font-size: 3.2rem;
    }

    h4 {
        font-size: 2.8rem;
    }

    p {
        font-size: 2.2rem;
    }

    .barra {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .navegacion {
        flex-direction: row;
        gap: 2rem;
    }

    .contenido-principal {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3rem;
    }
}

.cursos {
    list-style: none;
}

.entrada {
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}
.entrada:last-of-type {
    border-bottom: none;
    margin-bottom: none;
}

.boton {
    display: block;
    color: var(--blanco);
    font-family: var(--titulo);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.boton--primario {
    background-color: var(--negro);
}
.boton--secundario {
    background-color: var(--primario);
}

@media (min-width: 768px) {
    .boton {
        display: inline-block;
    }
}

.widget-curso,
.curso {
    border-bottom: 2px solid var(--gris);
    margin-bottom: 2rem;
}
.widget-curso:last-of-type, 
.curso:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}
.widget-curso__label,
.widget-curso__info,
.curso__label,
.curso__info
 {
    font-size: 2rem;
}
.widget-curso__label,
.curso__label {
    font-family: var(--titulo);
    font-weight: bold;
}
.widget-curso__info,
.curso__info {
    font-weight: normal;
}

.footer {
    background-color: var(--negro);
    padding-bottom: 4rem;
}

.logo--footer h1 {
    font-size: 3rem;
}

/* Nosotros */

.nosotros {
    margin: 0 auto;
}


@media (min-width: 768px) {
    .nosotros p {
        font-size: 2.6rem;
    }

    .nosotros {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
    .nosotros div {
        flex-basis: 50%;
    }
}


.curso {
    padding: 0 3rem;
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
    }
}

.contacto-bg {
    background-image: url(../img/contacto.jpg);
    height: 40rem;
    background-size: cover;
}

.formulario {
    background-color: var(--blanco);
    margin: -5rem auto 0 auto;
    width: 90%;
    padding: 5rem;
}

.campo {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 2rem;
}
.campo--boton {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .campo {
        grid-template-columns: 1fr 5fr;
        margin-top: 2rem;
    }
}